@font-face {
    font-family: Acquire;
    src: url(./fonts/aquire/AquireLight-YzE0o.otf);
}

@font-face {
    font-family: Trench;
    src: url(./fonts/trench/trench100.ttf);
}

@font-face {
    font-family: Space;
    src: url(./fonts/space-grotesk.bold.otf);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: black; */
    background-color: black;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.bod {
    margin: 30px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    font-family: Trench
}

.bod p {
    margin: 40px;
    font-family: Trench;
    font-size: 25px;
}

.bod ol {
    font-family: Trench;
    font-size: 25px;
    font-weight: 100;
    margin: 45px;
}

.bod h2 {
    font-size: 40px;
    text-decoration: underline;
    margin: 15px;
    font-family: Trench;
}

.bod span {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 5px 20px 5px;
    margin: 20px;
    /* outline:  solid red; */
}

.header {
    /* outline: 2px solid red; */
    position: relative;
    height: 15.4749262536873156vh;
    width: 100vw;
    top: 0.15220700152207vh;
    z-index: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    color: white;
    position: absolute;
    top: 1.4655172413793105vh;
    left: 0.822516556291391vw;
    font-size: 1.47505518763797vw;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0.003679175864606328vw;
    background-color: black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    /* outline: 2px solid red; */
}

.logo h1:hover {
    background-color: white;
    color: black;
}